body {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

table {
    width: 40%;
    margin: 20px auto;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 1rem;
    overflow: hidden;
}

tr {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

th, td {
    flex: 1;
    padding: 10px;
    border: none;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

button {
    background-color: #2F80ED;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

td:last-child {
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

header {
    background-color: #fff;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 50%;
    margin-right: 10px;
}

header div {
    display: flex;
    align-items: center;
}

header span {
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
