body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282c35;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.containerLogin{
    background-color: #1e222b;
    border-radius: 1rem;
    width: 100%;
    max-width: 445px;
    padding: 40px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

.containerLogin h2{
    font-weight: normal;
    text-align: left;
}

h3{
    font-weight: normal;
    text-align: left;
}

.formInput{
    margin: 10px 0;
    padding: 10px;
    width: 95%;
    border: none;
    border-radius: 5px;
    background-color: #2e333d;
    color: #fff;
}

.formInput::placeholder{
    color:#aaa;
}

p{
    font-size: 14px;
    color: #aaa;
    margin: 10px 0;
}

.loginBoton{
    background-color: #007bff;
    color:#fff;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;   
}

.socialIcons{
    margin: 20px 0;
}

.socialIcons a{
    color: #aaa;
    font-weight: bold;      
}

.loginUp{
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
}

.devImage{
    text-align: left;
}